.proj-capsule {
	display: inline-flex;
	align-items: center;
	background-color: var(--background-modifier-hover);
	color: var(--text-normal);
	border: 1px solid var(--background-modifier-border);
	border-radius: 0.1em;
	padding: 0.1em 0.2em 0.0em 0.2em;
	font-size: 0.8em;
	line-height: 1.3;
	margin-left: 0.5em;
	vertical-align: middle;
	transition: background-color 0.2s ease-in-out;
	text-shadow: #cccccc22 0.5px 0.5px 3px;
}

.proj-capsule:hover {
	background-color: var(--background-modifier-active);
}

.proj-capsule-icon {
	margin-right: 0.4em;
}

.proj-capsule-text {
	font-weight: bold;
}

:root {
    --proj-yellow: #b58900;
    --proj-orange: #cb4b16;
    --proj-red: #dc322f;
    --proj-magenta: #d33682;
    --proj-violet: #6c71c4;
    --proj-blue: #268bd2;
    --proj-cyan: #2aa198;
    --proj-green: #859900;
}