.mrll-capsule {
	display: inline-flex;
	align-items: center;
	background-color: var(--background-modifier-hover);
	color: var(--text-normal);
	border: 1px solid var(--background-modifier-border);
	border-radius: 0.1em;
	padding: 0.1em 0.2em 0em 0.2em;
	font-size: 0.8em;
	line-height: 1.3;
	margin-left: 0.5em;
	vertical-align: middle;
	transition: background-color 0.2s ease-in-out;
	text-shadow: #cccccc22 0.5px 0.5px 3px;
}

.mrll-capsule:hover {
	background-color: var(--background-modifier-active);
}

.mrll-capsule-icon {
	margin-right: 0.4em;
}

.mrll-capsule-text {
	font-weight: bold;
}

:root {
	--mrll-yellow: #b58900;
	--mrll-orange: #cb4b16;
	--mrll-red: #dc322f;
	--mrll-magenta: #d33682;
	--mrll-violet: #6c71c4;
	--mrll-blue: #268bd2;
	--mrll-cyan: #2aa198;
	--mrll-green: #859900;
}
